.main-nav
  display: none  
  background-color: $primary
  @media (min-width: 768px)
    display: block
  .container 
    padding-left: 0
  ul 
    +h-nav
  a 
    color: #fff
    font-size: 1.1em
    line-height: 1em   
    padding: 0.5em
    &:hover 
      color: #fff
  li 
    line-height: 4em
    margin-right: 3.5em    
    // &:first-child 
    //   a 
    //     padding-left: 0
    &:first-child
      margin-right: 0.5em
  .dropdown-menu-custom
    position: absolute
    top: 100%
    left: 0
    z-index: 1000
    display: none
    min-width: 200px  
    background-color: $dark-blue
    a 
      line-height: 2em
      display: block       
      color: #fff
      display: block
      margin: 0
      padding: 0.5em
      line-height: 1.5em
      &:hover 
        background-color: #003765
    li 
      float: none 
      margin: 0   
  .dropdown
    position: relative    
    &:hover 
      background-color: $dark-blue
      color: #fff
      .dropdown-menu-custom
        display: block   
  .dropdown-icon
    &:after
      font-family: "FontAwesome"
      content: "\f107"
      margin-left: 0.5em
      color: #fff  
  .social-list 
    float: right   
    line-height: 2.5em
    font-size: 1.5em 
    a 
      padding: 0 
      margin-left: 0.5em  
      &:hover 
        color: #18ECC0 
  #mainNav 
    float: left 
    display: inline-block      
    li:first-child a 
      padding-left: $spacing
    li ul li:first-child a      
      padding-left: 0.5em

.left-navigation
  a 
    font-family: "Raleway", "Open Sans", sans-serif
    font-weight: 800
    font-size: 1.5em
    font-weight: 700
    color: #333
    font-size: 1.4em
    line-height: 1
    margin-bottom: 0.5em
    border-bottom: 1px solid #eee
    line-height: 2
    margin-bottom: 0
    display: block
    &:hover 
      color: $secondary