.recipe-title
  @extend .heading
  font-size: 2em
  color: $secondary
  margin-bottom: 0.5em
.recipe
  margin-bottom: 4em
  h4 
    +heading 
    color: $primary
    margin-bottom: 0.5em 
  li 
    &:before 
      font-family: "FontAwesome"
      content: "\f00c"
      color: $secondary
      margin-right: 0.5em  
.recipe-img 
  margin-bottom: 1em
  img 
    width: 100%  
.ingredients
  margin-bottom: 2em
  // li
  //   .fa 
  //     color: $secondary
  //     margin-right: 0.5em    
.recipe-print
  @extend .button-yellow
  &:before 
    font-family: "FontAwesome"
    content: "\f02f"
    margin-right: 0.5em
  // &:hover 
  //   text-decoration: none
  //   background-color: $orange    
.recipe-nutritional
  @extend .button-yellow
  &:before 
    font-family: "FontAwesome"
    content: "\f0f6"
    margin-right: 0.5em
  
.job-post
  ul 
    margin-bottom: 0.5em  
  li 
    &:before 
      font-family: "FontAwesome"
      content: "\f00c"
      color: $secondary
      margin-right: 0.5em
  h3
    font-weight: 600
    font-size: 0.9em
    margin-bottom: 0.5em
    font-family: "Raleway", "Open Sans", sans-serif
  h2 
    font-size: 1.4em    
    margin-bottom: 1em  